* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	color: #333;
}

.topbar {
    background-color: #303030;
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    width: 20px;
    height: auto;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
}

.search-arrow-left {
    width: 20px;
    height: auto;
    margin-right: 5px;
    transform: rotate(90deg);
}

.search-arrow-right {
    width: 20px;
    height: auto;
    margin-right: 5px;
    transform: rotate(270deg);
}

.search-wrapper {
    border-radius: 2px;
    border: solid 1px #555;
    background-color: rgb(59, 59, 59);
    color: rgba(204, 204, 204, 0.25);
    width: 650px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-icon {
    width: 15px;
    height: auto;
    margin-left: 10px;
    margin-right: 8px;
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.right-side-section {
    display: flex;
    gap: 15px;
    align-items: center;
}

.top-icon {
    width: 14px;
    height: auto;
    cursor: pointer;
}

.top-user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar {
    width: 60px;
    background-color: #2c2c2c;
    height: 90vh;
    left: 0;
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgba(211, 211, 211, 0.12);
}

.sidebar-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 10px;
}

.sidebar-image {
    width: 20px;
    height: 20px;
}

.sidebar-text {
    margin-top: 5px;
    font-size: 10px;
    text-align: center;
    color: rgba(211, 211, 211, 0.942);
}

.sidebar-selected {
    background-color: rgba(169, 169, 169, 0.301);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sidebar-highlighted {
    position: absolute;
    background-color: hotpink;
    left: 0;
    width: 2px;
    height: 40px;
    border-radius: 2px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.chat-list {    
    background-color:#333;
    height: 100%;
    width: 375px;
    border: solid 1px rgba(211, 211, 211, 0.12);
}

.title-separator{
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

.chat-title {
    color: white;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
}

.search-buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.icon {
    height: 20px;
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
    padding-right: 3px;
}

.separator{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    border-bottom: black 1px solid;
    height: 40px;
}

.chat-buttons {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 10px;
}

.round-button {
    border: solid 1px whitesmoke;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-size: 10px;
    color: whitesmoke;
    background-color: transparent;
}

.round-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.dropdown-arrow{
    height: 20px;
    margin-right: 0.8rem;
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
}

.padding-container {
    /* padding: 20px; */
    margin-left: 20px;
    margin-right: 20px;
}

.hardcoded-section {
    height: 100%;
    color: white;   
}

.hardcoded-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

.hardcoded-icon {
    width: 22px;
    height: 22px;
}

.hardcoded-item {
    padding-left: 10px;
    font-size: 14px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px black solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.chat-entries {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.chat-group-title-section {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.group-container{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}

.group-icon {
    width: 14px;
    height: 14px;
}

.chat-group-title {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 14px;
    color: rgb(180, 177, 171);
}

.user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

.user-picture {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(114, 119, 114);
}

.user-picture>.online-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(39, 201, 39);
    position: relative;
    top: 17px;
    left: 17px;
}
.user-picture>.away-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(214, 236, 9);
    position: relative;
    top: 17px;
    left: 17px;
}
.user-picture>.dnd-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(194, 55, 55);
    position: relative;
    top: 17px;
    left: 17px;
}

.user-name {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(201, 197, 190);
    padding-left: 10px;
}

.teams-and-channels {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(179, 179, 179);
    font-size: 14px;
    border-top: rgb(179, 179, 179, .25) 1px solid;
}

.chat-group {
    background-color: rgb(49, 49, 49);
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgba(211, 211, 211, 0.12);
}

.group-title {
    height: 60px;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    color: violet;
    border-bottom: black 1px solid;
}

.pinned-section {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    color: rgb(194, 55, 55);
    border-bottom: rgba(179, 179, 179, 0.22) 1px solid;
}

.chat-group-messages{
    background-color: rgb(37, 37, 70);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.footer {
    background-color: rgb(36, 43, 77);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px rgba(211, 211, 211, 0.342);
    z-index: 20;
}

.apps-container {
    left: 0;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    color: rgba(211, 211, 211, 0.942);
}

.selected {
    background-color: rgba(169, 169, 169, 0.301);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px rgba(211, 211, 211, 0.12);
    border-top: #33333396;
    border-bottom: #33333396;
}

.highlighted {
    position: absolute;
    bottom: 5px;
    width: 15px;
    height: 3px;
    border-radius: 50px;
    background-color: rgba(196, 120, 196, 0.9);
}

.online-check {
    position: absolute;
    margin-left: 22px;
    margin-bottom: 22px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(40, 148, 40);
    border: 1px solid rgb(0, 0, 0);
}

.check {
    width: 8px;
    height: 8px;
    margin-bottom: 1px;
}

.app-icon {
    width: 25px;
    height: 25px;
    /* background-color: royalblue; */
}

.extra-container {
    position: absolute;
    right: 0;
    display: flex;
    gap: 10px;
    padding-right: 20px;
    align-items: center;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    color: rgba(211, 211, 211, 0.942);
}

.widget-icon {
    width: 20px;
    height: 20px;
}

.upside-down {
    transform: rotate(180deg);
}


